body{
	background-color: #E7ECEF;

}

.title{
	width: 1200px;
	height: 100px;
	padding: 10px;
	border: 2px solid #A3D8F4;
	border-radius: 10px;
	border-top: 0px;
	margin-bottom: 50px;
	margin-left: 20px;
	background-color: #B5BEC3 ;
	font-size: 25px;
	font-weight: bolder;
	color: #F5F5F5;
	text-align: 50px;
	padding-top: 60px;
	font-size: 50px;
	font-family: cursive;
}

.table1{
	margin-left: 380px;

}

.nav{
  	 width: 150px;
  	 height: 50px;
  	 border: 1px solid whitesmoke;
  	 background-color:  #B5BEC3 ;
  	 margin: 0; 	
  	border-radius: 5px;
  	padding-left: 30px;

  
  	
}
.nav1{
  	 width: 150px;
  	 height: 50px;
  	 border: 1px solid whitesmoke;
  	 background-color:  #B5BEC3 ;
  	 margin: 0; 	
  	border-radius: 5px;
  	padding-left: 30px;
  
  	
}
.nav3{
  	 width: 150px;
  	 height: 50px;
  	 border: 1px solid whitesmoke;
  	 background-color:  #B5BEC3 ;
  	 margin: 0; 	
  	border-radius: 5px;
  	padding-left: 30px;

  	
}

.tt{

	text-decoration: none;
	font-size: 15px;
	font-family: cursive;
	color: whitesmoke;
}

.ttt{
	
	text-decoration: none;
	font-size: 15px;
	font-family: cursive;
	color: #585C5E ;
	border: 10px solid shadow;
	background-color:  #B5BEC3;
	border-radius: 50px;
	padding-right: 20px;
	padding-left: 20px;

}

.code{
	font-size: 50px;
}
